.background {
  height: 100%;
  height: 1000px;
  position: relative;
  opacity: 0.80;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h1, p {
    padding: 10px;
    color: white;
  }

}
