<div class = "background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('privatekitchen_background.png') %>)">
  <div class = "container ">
    <div class="d-inline-flex p-2 flex-sm-column align-items-center .justify-content-center ">
      <%= image_tag "privatekitchenwhite_logo.png", class:"logo_home" %>
      <h2>Enter the fascinating world of private kitchen</h2>
      <%= link_to 'Enter our Kitchens', kitchens_path, class: "btn btn-light m-5" %>
    </div>
  </div>
</div>
