<%# <h1>Hello this is the index page</h1> %>
<div class= "container py5">
  <div class="d-flex align-items-center justify-content-center mb-3">

    <div class="row">
      <% @kitchens.each do |kitchen| %>
        <div class="col">
          <div class="card m-3" style="width: 18rem;">
            <%= image_tag "indian_food.jpg" %>
            <div class="card-body">
              <h5 class="card-title"><%= kitchen.title%></h5>
              <p class="card-text"><%= kitchen.cuisine%></p>
              <div class="button">
                <%= link_to 'View Kitchen', kitchen_path(kitchen), :class => "btn btn-outline-secondary text-decoration-none " %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
